<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>João Vitor Justino</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='image/hacker-laptop.jpg') }}">
</head>
<body>
    <nav class="nav-bar">
        <ul>
            <li><a href="{{ url_for('home') }}" title="home">Home</a></li>
            <li><a href="{{ url_for('sobre') }}" title="sobre-mim">Sobre</a></li>
            <li><a href="{{ url_for('contato') }}" title="entrar-em-contato">Contato</a></li>
            <li><a href="{{ url_for('curriculo') }}" title="acessar-curriculo">Currículo</a></li>
            <li><a href="{{ url_for('algoritmos') }}" title="acessar-algoritmos">Algoritmos</a></li>
        </ul>
        <div class="social-media">
            <a href="https://www.linkedin.com/in/joao-vitor-justino/">
                <img src="{{ url_for('static', filename='image/linkdin.png') }}" alt="linkdin" title="joao-vitor-justino(linkdin)">
            </a>
            <a href="https://github.com/Jv131103">
                <img src="{{ url_for('static', filename='image/github.png') }}" alt="github" title="joao-vitor-justino(github)">
            </a>
        </div>
    </nav>
    <h1>Um dev apaixonado por programação e com curiosidade de aprender</h1>
    <div id="caixaTexto"></div>
    <div class="info-container">
        <img src="{{ url_for('static', filename='image/eu.jpeg') }}" alt="Minha Foto">
        <div class="info-me">
            <p>Nome: João Vitor Justino</p>
            <p>Idade: 21</p>
            <p>Cidade: SÃO PAULO (Capital)</p>
            <p>Profissão: Analista e Desenvolvedor de Sistemas</p>
        </div>
    </div>
    <footer class="footer-principal">
        <p>© 2025 João Vitor Justino. Todos os direitos reservados.</p>
    </footer>
    <script src="{{ url_for('static', filename='scripts/chatbot.js') }}"></script>
</body>
</html>
